/* 引入分类后的CSS文件 */
@import './assets/css/index.css';

/* 基础样式设置 */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
